@import "tailwindcss";

/* .colorable-icon, .colorable-icon path, .colorable-icon g, .colorable-icon * {
  fill: currentColor !important;
  stroke: #fff !important;
} */


* {
    font-family: "Source Code Pro", sans-serif !important;
    /* letter-spacing: -1px; */
}

