@import "tailwindcss";

/* .colorable-icon, .colorable-icon path, .colorable-icon g, .colorable-icon * {
  fill: currentColor !important;
  stroke: #fff !important;
} */


h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
}


@keyframes pulseGlow {
  0%, 100% { box-shadow: 0; }
  50% { box-shadow: 0 0 12px 1px #505050; }
}

@keyframes bounce-slight {
  0%, 6%, 12%, 90%, 100% {
    transform: translateY(0);
  }
  3%, 9% {
    transform: translateY(-10px);
  }
}