@import "tailwindcss";

/* .colorable-icon, .colorable-icon path, .colorable-icon g, .colorable-icon * {
  fill: currentColor !important;
  stroke: #fff !important;
} */


h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
}

